@import "_reset.scss";

.container {
  margin: 0 auto;
  width: 1280;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  color: #000;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.full-width-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;

  tr {
    display: flex;
  }
  .center-content {
    padding: 20px 0;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      width: 80px;
      height: 80px;
      border-radius: 9999px;
      border: #666 1px solid;
      font-size: 20px;
      font-weight: bold;
      color:#666;
    }
  }
}
