<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/all.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <h1 class="title">Joshua Reward Card</h1>
            <table class="full-width-table">
                <tr v-for="row in 5" :key="'row' + row">
                    <td v-for="(number, index) in numbers.slice((row - 1) * 6, row * 6)" :key="'col' + index" class="center-content">
                        <p class="circle">
                            {{ number }}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    numbers: Array.from({ length: 30 }, (_, i) => i + 1)
                }
            }
        }
        )
    </script>
</body>

</html>